/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


html, .theme-container, header, .sidebar, .links
  background $darkbg3 !important

.search-box input, .suggestions li a
  color: $darkbg3 !important

.suggestions li a:hover
  color: $accentColor !important
.custom-block
  background $darkbg3 !important
p code
  background $darkbg1 !important