/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


html, .theme-container, header, .sidebar, .links
  background $darkbg2 !important

.search-box input
  color: $darkbg2 !important
.suggestions li a
  color: $darkbg2 !important
.suggestions li a:hover
  color: $accentColor !important