/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 100% !important
  max-height: 500px !important
  border-radius: 5px


html, .theme-container, header, .sidebar, .links
  background $darkbg3 !important

.search-box input, .suggestions li a
  color: $darkbg3 !important

.suggestions li a:hover
  color: $accentColor !important
.custom-block
  background $darkbg3 !important
code
  background $darkbg1 !important

.test{
background #000
}


*::-webkit-scrollbar 
  width: .4em
  height: .2em
 
*::-webkit-scrollbar-track 
  box-shadow: inset 0 0 10px $darkbg3

 
*::-webkit-scrollbar-thumb 
  background-color: $accentColor
  outline: 1px solid $accentColor
