// colors
$accentColor = #42b983
$textColor = #fff
$borderColor = #31313A
$codeBgColor = #31313A
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$darkbg1 = #31313A
$darkbg2 = #26262D
$darkbg3 = #21272F

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px